/* Inserta tu código aqui */

.nav {
	background-color: #333333;
	height: 130px;
	width: 100%;
}

.container {
	height: 1500px;
	font-family: sans-serif;
}

.nav ul {
	list-style: none;
}

.nav .nav1 {
	list-style: none;
	display: flex;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.nav .nav2 {
	float: right;
	display: flex;
	margin-top: 55px;

}

.nav2 a {
	text-decoration: none;
	color: white;
	padding: 13px;
	font-family: sans-serif;
}

.episodes {
	display: flex;
	padding-top: 20px;
}

.episodes p {
	margin-top: 10px;
	color: #336699;
	margin-left: 8px;
	cursor: pointer;
}

.header {
	background-color: #eeeeee;
	border: 0.1px solid #bbbbbb;
}

.images {
	display: inline-block;
}

.images .col-3 {
	margin-top: 25px;
	margin-bottom: 25px;
}

.episodes h2 {
	margin-left: 15px;
}

.images .col-3 img {

	width:100%;
	height: auto;
	border: 3px solid white;
	box-shadow: -1px 0px 5px -1px;

}

.b1 {
	border-bottom: 2px solid black;
}

.b2 {
	border-bottom: 2px solid #b3b3b3;
}
.row-2 {
	margin-left: -14px;
	margin-right: -14px;
	margin-top: 30px;
}

.row-2:before, .row-2:after{
  content: " ";
  display: table;
}
.row-2:after {
  clear: both;
}

.images .col-3 p {
	color: #336699;
	cursor: pointer;
}

.col-2 img {
	max-width: 100%;
	border: 3px solid #fff;
	box-shadow: -1px 0px 5px -1px;
}

.col-2 p {
	color: #336699;
	font-size: 13px;
	cursor: pointer;
}

.b55 {
	display: flex;
	margin-bottom: 8px;
}

.b55 p {
	color: #336699;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	cursor: pointer;
}

.b56 {
	margin-top: 30px;
}

.col-3 h3 {
	font-family: sans-serif;
	font-size: 17px;
	border-bottom: 2px solid #e6e6e6;
	margin-bottom: 20px;
	color: #666666;

}

.july {
	line-height: 21px;
	font-family: sans-serif;
	font-size: 14px;
}

.july span {
	color: #336699;
	cursor: pointer;
}

footer {
	background-color: #4d4d4d;
	width: 100%;
	height: 180px;
	margin-top: 20px;
}

.b3 {
	color: white;
	margin-top: 20px;
	line-height: 25px;
	font-size: 15px;
}

.b4 {
	color: #b3b3b3;
	font-size: 13px;
	margin-top: 30px;
}

.b3 span {
	color: #b3b3b3;
	cursor: pointer;
}

.b5 {
	color: #cccccc;
	margin-top: 20px;
	font-size: 14px;
}

.b5 li {
	margin-left: 8px;
	cursor: pointer;

}
.col-12 ul {
	list-style: none;
}

.col-12 ul li {
	display: inline-block;
}





















































